
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit&display=swap');

*{
    padding: 0;
    margin: 0;
}

  body{
    font-family: 'Montserrat', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body::-webkit-scrollbar {
    width: 0;
  }